# Ignore PyCharm project files
.idea/

# Ignore Python bytecode files and __pycache__ directories
__pycache__/
*.py[cod]

# Ignore other common Python cache or build directories
*.pyo
*.egg
*.egg-info/
dist/
build/
